[submodule "balena-fox-backup"]
    path = balena-fox-backup
    url = https://github.com/SCOTT-HAMILTON/balena-fox-backup.git
[submodule "balena-ntfy"]
	path = balena-ntfy
	url = https://github.com/SCOTT-HAMILTON/balena-ntfy
[submodule "balena-ankisync"]
	path = balena-ankisync
	url = https://github.com/SCOTT-HAMILTON/balena-ankisync
[submodule "chunkdrive"]
	path = chunkdrive
	url = git@github.com:SCOTT-HAMILTON/chunkdrive.git
